* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 17px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie-title {
    color: #ff0000;
    font-weight: bold;
}

[filme="bad-boys"] {
    color: green;
    font-weight: bold;
}

[filme] {
    font-size: 20px;
}

input[type="button"] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.bg {
    width: 100%;
    height: 400px;
    background-image: url('https://s2-gshow.glbimg.com/BQN1poa_fVR-Vqgf_yAy13dDlZE=/339x0:577x424/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_e84042ef78cb4708aeebdf1c68c6cbd6/internal_photos/bs/2021/E/C/RA4qu5RhW59ad8fXlgTQ/will-smith-lanca-linha-de-roupas-inspirada-em-um-maluco-no-pedaco-1.jpg');
    background-repeat: no-repeat;
    /* 'space' repete e distribui espaços entre as imagens */
    /* background-repeat: space; */
    /* 'round' ajusta o tamanho da imagem para preencher o espaço */
    /* background-repeat: round; */
    background-position: center;
    background-color: cyan;
    /* cobre todo o espaço disponível; */
    background-size: cover;
}

.div1 {
    width: 25%;
    /* There is no set height as the content automatically adjusts */
    background-color: red;
    display: inline-block;
}

.div2 {
    width: 25%;
    height: 100px;
    /* When the content exceeds the height, it will scroll */
    overflow: scroll;
    vertical-align: top;
    background-color: blue;
    display: inline-block;
}

.div3 {
    width: 25%;
    background-color: green;
    display: inline-block;
}