* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 17px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie-title {
    color: #ff0000;
    font-weight: bold;
}