* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 500px;
    height: 500px;
    background-color: cyan;
}

/* Até 768px terá o comportamento */
@media screen and (max-width: 768px) { 
    .box {
        width: 100%;
        background-color: lightcoral;
    }
}